//colors
$black: #000;
$white: #fff;
$box_shadow_black: #00000029;
$gold-primary: #9d8641;
$gold-primary-moderate: #ead187;
$gold-secondary: #fffcf2;
$grey: #909090;
$dark-grey: #666666;
$light-grey: #f8f8f8;
$dim-grey: #d3d3d3;
$blue: #0074ad;
