@import "./colors.scss";
#app-container {
  height: inherit;
  .container__header {
    position: sticky;
    top: 0;
    height: 80px;
    background-color: $white;
    z-index: 5;
    .header__sidebar {
      width: 15%;
    }
    .header__main {
      flex: 1; /* Take the remaining width */
      background-color: $gold-primary-moderate;
      .nav-pills .nav-link.active,
      .nav-pills .show > .nav-link {
        color: $black;
        background-color: transparent;
        font-weight: 600;
        border-bottom: 2px solid $black;
        border-radius: 0;
      }
      .nav-link {
        color: $black;
        padding: 0.5rem 0;
      }
    }
  }
  .container__main {
    height: inherit;
  }
}
